/*ejemplo1.css VR16021*/


fichero {background-color:blue;}
ficha {background-color:red; display:block;} 
nombre {color:white; display:inline;} apellido {color:yellow; display:inline;}

direccion {color:yellow;font-size:1cm; display:none;}
